header{
    width: 784px;
    height: 200px;
}

.kiri{
    width: 200px;
    background-color: yellow;
    float: left;
    height:auto;
}
#kanan{
    background-color: rgb(230, 170, 212);
    width: 584px;
    height: auto;
    margin-left: 200px;
}

footer{
    background-color: grey;
    height: 100px;
    width: 784PX;
}




